<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!--通过这个文件加载其他路径下的xml文件-->

     <import
         resource="com/bingley/spring/createobject/applicationContext-createobject-method.xml"/>

</beans>
